aiohttp
beautifulsoup4
hachoir
numpy
Pillow
requests
https://github.com/Naysabots/yt-dlp/archive/refs/tags/2022.90.90.zip
olefile
filetype
tldextract
motor
aiofiles
dnspython
pyrogram
tgcrypto
psutil
