aiohttp
beautifulsoup4
hachoir
numpy
Pillow
requests
https://github.com/animelover1984/yt-dlp/archive/refs/tags/2021.09.02_8.zip
olefile
filetype
tldextract
motor
aiofiles
dnspython
pyrogram
tgcrypto
psutil
